<h2>Pipes:</h2>
<p>{{statement | uppercase}}</p>
<p>{{statement | lowercase}}</p>
<p>{{statement | titlecase}}</p>
<p>{{statement | slice:3}}</p>
<p>{{statement | slice:3:8}}</p>
<p>{{users | json}}</p>
<p>{{users[0].name | json}}</p>
<p>{{users[0].name}}</p>

<!-- number:'1.2-3' means before dot min 1 digit &  after dot min 2 and max 3 digits  -->
<p>{{5.678 | number:'1.2-3'}}</p>
<p>{{5.678 | number:'3.4-5'}}</p>
<p>{{54.678 | number:'1.1-2'}}</p>

<p>{{0.25 | percent}}</p>

<p>{{25 | currency}}</p>
<p>{{25 | currency: 'GBP'}}</p>
<p>{{25 | currency: 'GBP': 'code'}}</p>
<p>{{25 | currency: 'EUR'}}</p>

<p>{{date}}</p>
<p><b>Short:</b></p>
<p>{{date | date: 'short'}}</p>
<p>{{date | date: 'shortDate'}}</p>
<p>{{date | date: 'shortTime'}}</p>
<p><b>Medium:</b></p>
<p>{{date | date: 'medium'}}</p>
<p>{{date | date: 'mediumDate'}}</p>
<p>{{date | date: 'mediumTime'}}</p>
<p><b>Long:</b></p>
<p>{{date | date: 'long'}}</p>

