<h2 class="myHead">Welcome to {{title}}</h2>
<!-- 1) Component -->
<!-- selector of test component is selector: 'app-test' -->
<!-- <app-test></app-test>   -->

<!-- selector of test component is selector: '.app-test'  which is called class selector-->
<!-- <div class="app-test"></div>  -->

<!-- selector of test component is selector: '[app-test]'  which is called inclosed selector-->
<!-- <div app-test></div> -->

<div class="myBlock">
    <p>
        <li><b>Basic Angular Concepts :</b></li>
        <br>
    
        <button (click)='goToAngularConcept("")'>Home</button> &nbsp;
    
        <!-- 2) Interpolation -->
        <!-- <app-interpolation></app-interpolation> -->
        <button (click)='goToAngularConcept("interpolation")'>Interpolation</button> &nbsp;
    
    
        <!-- 3) Property binding -->
        <!-- <app-property-binding></app-property-binding> -->
        <button (click)='goToAngularConcept("propertyBinding")'>Property binding</button> &nbsp;
    
    
        <!-- 4) Class Binding -->
        <!-- <app-class-binding></app-class-binding> -->
        <button (click)='goToAngularConcept("classBinding")'>Class Binding</button> &nbsp;
    
    
        <!-- 5) Style Binding -->
        <!-- <app-style-binding></app-style-binding> -->
        <button (click)='goToAngularConcept("styleBinding")'>Style Binding</button> &nbsp;
    
        <!-- 6) Event Binding -->
        <!-- <app-event-binding></app-event-binding> -->
        <button (click)='goToAngularConcept("eventBinding")'>Event Binding</button> &nbsp;
    
    
        <!-- 7) Templet reference variable -->
        <!-- <app-templet-reference-variable></app-templet-reference-variable> -->
        <button (click)='goToAngularConcept("templetReferenceVariable")'>Templet reference variable</button> &nbsp;
    
    
        <!-- 8) Two Way Binding -->
        <!-- <app-two-way-binding></app-two-way-binding> -->
        <button (click)='goToAngularConcept("twoWayBinding")'>Two Way Binding</button> &nbsp;
    
        <!-- 9) Structural Directives -->
        <!-- <app-structural-directives></app-structural-directives> -->
        <button (click)='goToAngularConcept("structuralDirectives")'>Structural Directives</button> &nbsp;
        
        <!-- 11) Pipes -->
        <!-- <app-pipes></app-pipes> -->
        <button (click)='goToAngularConcept("pipes")'>Pipes</button> &nbsp;
        
    </p>
</div>

<!-- 10) Component Interaction -->
<!-- childEvent is give message to parent component from child component AND using parentData we can get value from parent Component and print in child component -->
<div class="myBlock">
    <app-component-interaction (childEvent)="title=$event" [parentData]="name"></app-component-interaction>
</div>

<!-- 12) Services -->
<!-- <app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail> -->


<div class="myView">
    <li><b>Routing and Navigation Concept (simple routing and navigation, wildcard route and redirecting routes, route parameters, paramMap observable, optional route parameters, relative navigation, child routes) :</b></li>
    <br>
    <nav>
        <a routerLink="/employeeList" routerLinkActive="active">Employee List</a> &nbsp;&nbsp;
        <a routerLink="/employeeDetails" routerLinkActive="active">Employee Detail</a>
    </nav>
    <router-outlet></router-outlet>
</div>